.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgb(201, 197, 197);
  height: 60px;

  & img {
    background-color: white;
    width: 45px;
    height: 45px;
    border-radius: 50%;

    display: block;
    margin: 0 auto;
    margin-top: 5px;
  }
}
