@import "@utils/variables.scss";
.images {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  grid-gap: 10px;
}

.user {
  max-width: 1200px;
  margin: 0 auto;

  &__block {
    display: flex;
    align-items: flex-start;
    margin-top: 40px;
    justify-content: space-between;
  }
  &__avatar img {
    height: 150px;

    width: 150px;
  }

  &__title {
    font-size: 35px;
    font-weight: 600;
  
    color: $text;
  }
  &__subtitle {
    font-size: 18px;
    margin: 5px 0px 20px;
    color: $text;
    font-weight: 600;
  }
  &__text {
    font-size: 18px;
    color: $text;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  &__info {
    font-size: 17px;
    margin: 3px 0px;
    color: $text;
  }
  &__metrics {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
  }
  &__icons img {
    opacity: 0.5;
    width: 40px;
    margin-left: 10px;
    height: 40px;
  }
  &__icons {
    position: relative;
    &::before {
      right: -5px;
      top: 10px;
      position: absolute;
      width: 10px;
      height: 3px;
      background-color: $text;
      content: "";
    }
    &::after {
      right: -5px;
      top: 10px;
      position: absolute;
      width: 10px;
      height: 3px;
      background-color: $text;
      content: "";
      transform: rotate(90deg);
    }
  }
}

@media (min-width: 1200px) {
  .images {
    grid-template-columns: repeat(3, 1fr);
    & img {
      height: 386px !important;
    }
  }
}

@media (max-width: 1200px) {
  .user {
    padding: 0 20px;
  }
  .images {
    grid-template-columns: repeat(3, 1fr) !important;
    & img {
      height: 280px;
    }
  }
}

@media (max-width: 700px) {
  .images {
    grid-template-columns: repeat(1, 1fr) !important;
    & img {
      height: 375px !important;
    }
  }
  .user {
    max-width: 90%;

    &__title {
      font-size: 28px;
    }
  }
}

@media (max-width: 900px) {
  .images {
    & img {
      height: 240px;
    }
  }
}
