@import "../../utils/variables.scss";
.form__wrapper {
  max-width: 800px;
  padding: 20px;
  margin: 0 auto;
}

.form {
  &__title {
    color: $text;
    text-align: center;
    font-size: 26px;
    font-weight: 600;
  }
  &__input {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    color: $text;
    background: rgb(26, 28, 31);
    resize: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px rgb(26, 28, 31) inset !important;
      -webkit-text-fill-color: $text !important;
      border: 1px solid black !important;
      -webkit-rtl-ordering: none !important;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      -webkit-writing-mode: none !important;
    }
  }
  &__file {
    display: block;
    position: relative;
    min-height: 100px;
    height: 100%;
    & input {
      font-size: 0;
      background-color: black;
      z-index: 300;
      display: block;
      width: 100px;
      height: 100px;
      opacity: 0;

      cursor: pointer;
      position: absolute;
      background-image: url("../../../assets/icons/plus.svg");
      top: 50%;
      margin-top: -50px;
      left: 50%;
      margin-left: -50px;
    }
    &_img {
      position: absolute;
      width: 100px !important;
      height: 100px !important;
      opacity: 0.5;
      object-fit: unset !important;
      top: 50%;
      margin-top: -50px;
      left: 50%;
      margin-left: -50px;
    }
  }

  &__button {
    display: block;
    width: 100%;
    margin: 40px auto 0;
    border-radius: 30px;
    background-color: rgb(26, 28, 31);
    border: none;
    outline: none;
    font-size: 20px;
    padding: 15px;
    cursor: pointer;
    color: rgb(134, 134, 134);
    transition: all 0.3s;
    &:hover {
      opacity: 0.8;
    }
    &:disabled {
      opacity: 0.3;
    }
  }
  &__uploaded {
    width: 100%;
    margin-top: 30px;
  }
  &__group {
    animation: animateInput 0.7s forwards;

    position: relative;
    margin-top: 40px;
    color: $text;

    & label {
      position: absolute;
      left: 10px;
      top: 10px;
      transition: all 0.3s;
    }

    & input:focus ~ label,
    input:valid ~ label {
      top: -30px;
      left: 3px;
    }

    & textarea:focus ~ label,
    textarea:valid ~ label {
      top: -30px;
      left: 3px;
    }
  }
  &__label {
    color: inherit;
  }
}

.img__wrap {
  position: relative;
  & .cross {
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    right: 0px;
    top: 0px;
    position: absolute;
    overflow: hidden;
  }
}

.not__auth {
  color: $text;
  font-size: 22px;
  text-align: center;
  margin-top: 20px;

  &_link {
    color: $text;
    border-bottom: 1px solid $text;
  }
}

@keyframes animateInput {
  0% {
    transform: translateY(200%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
