@font-face {
  font-family: "GeosansLight";
  src: url("../../../../fonts/GeosansLight.ttf"), format("ttf");
  font-style: normal;
  font-size: normal;
}

.title {
  color: white;
  padding: 10px 10px;
  border-radius: 40px;
  cursor: pointer;
  font-size: 20px;
  
  transition: all 0.3s;
  animation: tag 0.3s forwards;
  font-family: "GeosansLight";
  display: block;
}

@keyframes tag {
  0% {
    margin-top: 50px;
  }
  100% {
    margin-top: 10px;
  }
}
