@import '../../../utils/variables.scss';
.chats {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.chatsTitles {
  width: 100%;
  margin-right: 50px;
}

.dialog {
  width: 100%;
}

.not__auth {
  text-align: center;
  margin-top: 30px;
  color: $text;
  a{
    color: $text;
    text-decoration: underline;
  }
}
