.modal__wrapper {
  width: 100%;
  
  position: fixed;
  top: 23px;

  .modal {
    position: absolute;
    top: 50%;

    &__link {
      opacity: 0.9;
      display: inline;
      font-size: 16px;
      padding: 10px;
      border-radius: 10px;
      background-color: rgb(19, 19, 19);
      margin-left: 10px;
      color: white;
      cursor: pointer;
      &:hover {
        transition: all 0.3s;
        opacity: 1;
      }
    }
  }
}

.cross {
  cursor: pointer;
  z-index: 100;
  position: fixed;
  width: 40px;
  top: 40px;
  right: 20px;
  animation: cross 0.5s forwards;
  & span {
    position: relative;

    &::before {
      content: "";
      width: 30px;
      height: 3px;
      background-color: rgb(141, 141, 141);
      position: absolute;
      transform: rotate(45deg);
    }
    &::after {
      content: "";
      width: 30px;
      height: 3px;
      background-color: rgb(141, 141, 141);
      position: absolute;
      transform: rotate(-45deg);
    }
  }
}

@keyframes cross {
  0% {
    top: -30px;
  }
  100% {
    top: 40px;
  }
}
