.image {
  overflow-y: hidden;
  background-color: #070406;
  height: auto;

  position: relative;
  animation: image .7s forwards;

  cursor: pointer;
  &__text {
    text-align: right;
    padding: 1px 3px;

    padding-top: 0px;
    height: 18px;
    width: 45px;
    top: 0px;

    position: absolute;

    background-size: cover;
    font-size: 14px;
    font-family: GeosansLight;
    color: #c5c5c5;
    background-image: url("../../../assets/icons/heart_background_black.png");
  }

  &__item {
    overflow-y: hidden;
    display: block;
    width: 100%;
    height: auto;
  }
}
@keyframes image {
  0% {
    transform: translateY(200%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
