.users {
  margin-top: 20px;
}

.user {
  max-width: 100%;
  text-align: center;

  &__name {
    max-width: 100%;
    font-size: 15px;
    margin-top: 10px;
    color: rgb(161, 161, 161);
  }

  &__avatar {
    background-color: white;
    cursor: pointer;
  }
}

