@import "../../utils/variables.scss";
.image {
  color: $text;
  margin-top: 20px;
  animation: image 0.3s forwards;
  max-width: 1200px;
  margin: 0 auto;
  &__gif {
    height: auto;
    object-fit: cover;
    width: 100%;
  }

  &__text {
    margin-top: 30px;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
  }
  &__likes {
    & img {
      width: 40px;
      margin-right: 10px;
    }
    display: flex;
    margin-top: 10px;
    font-weight: 600;
    align-items: center;

    font-size: 24px;
  }

  &__description {
    font-size: 17px;
    font-weight: 500;
    line-height: 30px;
    margin-top: 10px;
  }
  &__container {
    padding: 0 30px;
  }

  &__author {
    color: $text;
    margin-top: 30px;
    &_wrap {
      width: 140px;
    }
    &_title {
      font-size: 18px;
    }
    &_img {
      background-color: white;
      display: block;
      margin: 20px auto;
      width: 100px;
    }
    &_username {
      color: $text;
      text-align: center;
      margin-top: 10px;
    }
  }
  &__tags {
    margin-top: 20px;
    display: flex;

    &_tags {
      margin-left: 10px;
      width: 100%;
    }
  }
  &__category {
    margin-top: 15px;
  }
  &__tape {
    max-height: 600px;
    height: 100%;
  }
}

.gif__wrap {
  width: 100%;
  height: auto;
  position: relative;
  &_play {
    position: absolute;
    width: 150px;
    height: 150px;
    fill: white;
    top: 50%;
    left: 50%;
    margin-left: -75px;
    margin-top: -75px;
    cursor: pointer;
    opacity: 0.6;
    transition: all 0.6s;
    &:hover {
      transform: rotate(120deg);
    }
  }
}

@keyframes image {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    margin-top: 20px;
    transform: translateX(0%);
  }
}

@media (min-width: 1200px) {
  .image {
    &__wrap {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      grid-gap: 10px;
    }
    &__tape {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
      &_item {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      
    }
    &__gif {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  .gif__wrap {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .image {
    &__gif {
      height: 400px;
    }
  }
}

@media (min-width: 1200px) {
  .gif__wrap {
    max-height: 500px;
    height: 100%;
  }
  .image {
    &__gif {
      height: 100%;
    }
    &__wrapper {
      height: 100%;
    }
  }
}

@media (min-width: 820px) {
  .gif__wrap img {
    max-height: 70vh;
    object-fit: cover;
  }
}



.h100{
  height: 100%;
}
.hA{
  height: auto !important;
}