.userAccount {
  opacity: 0.8;
  font-size: 15px;
  color: white;
  margin-top: -18px;
  position: absolute;
  right: 0%;
  margin-right: 120px;
  justify-content: end;

  &__balance {
    margin-right: 10px;
  }
}
