#app {
  height: 100%;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

* {
  box-sizing: border-box;
}

:root {
  --black: #070406;
  --white: #fff;
  --grey: #afafaf;
}

@font-face {
  font-family: "GeosansLight";
  src: local("GeosansLight"), url("./fonts/GeosansLight.ttf") format("truetype");
  font-weight: normal;
}

body {
  background: var(--black);
  font-family: GeosansLight;
  font-size: 18px;

  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1;
}

.first-row {
  padding-top: 60px;
}

.swiper-top {
  margin-top: 7px;
  margin-bottom: 7px;
}

.swiper-lazy {
  aspect-ratio: 1;
}

.swiper-artist {
  margin-top: 6px;
  margin-bottom: -3px;
}

@media (max-aspect-ratio: 3/4) {
  img.img-top {
    width: 100vw;
    aspect-ratio: 1;
    border-radius: 0px;
    background: var(--black);
  }
}

@media (min-aspect-ratio: 5/4) {
  img.img-top {
    width: 33vw;
    aspect-ratio: 1;
    border-radius: 0px;
  }
}

.main-header {
  color: var(--grey);
  margin-top: 10px;
  margin-bottom: 7px;
  text-align: center;
  font-size: 18px;
  font-family: GeosansLight;
}

.top-header {
  color: var(--grey);
  margin-top: 10px;
  margin-bottom: 7px;
  text-align: center;
  font-size: 18px;
  font-family: GeosansLight;
}

#toast-container {
  width: 100%;
  position: fixed;
  top: 0;

  z-index: 100;
}

#toast-container div {
  text-align: center;
  padding: 20px;
  margin: 20px;
  width: 20%;
  border-radius: 3px;
  background-color: #d84646;
  color: white !important;
}

#toast-container div.succes {
  background-color: #4e9a51;
}

.page {
  animation: page 0.3s forwards;
}

@keyframes page {
  0% {
    opacity: 0;
    transform: translateY(200%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
