@font-face {
  font-family: "Montserrat";
  src: url("../../../fonts/Montserrat-Black.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

.button {
  position: relative;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Arial, sans-serif;
  color: rgb(235, 235, 235);
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  padding: 15px;
  background-color: #2d81ff;
  max-width: 25%;
  display: block;
  width: 100%;
  max-width: 400px;
  cursor: pointer;
  margin: 20px auto;
  border-radius: 30px;
  border: none;

  & img {
    margin-top: -12px;
    top: 50%;
    position: absolute;
    left: 25px;
  }
}

.AuthPage {
  margin: 0 auto;
  max-width: 90%;
  &__title {
    margin-top: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Arial, sans-serif;
    font-size: 28px;
    color: white;
    font-weight: 600;
    text-align: center;
  }

  &__subtitle {
    max-width: 450px;
    width: 100%;
    margin: 30px auto;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Arial, sans-serif;

    font-size: 20px;
    color: rgb(80, 80, 80);
  }
}
