.modal__wrapper {
  width: 100%;

  position: fixed;
  top: 23px;

  .modal {
    position: absolute;
    top: 50%;
    animation: openMenu 0.4s forwards;

    &__link {
      opacity: 0.7;
      display: inline;
      font-size: 16px;
      padding: 10px;
      border-radius: 10px;
      background-color: rgb(19, 19, 19);
      margin-left: 10px;
      color: white;
        cursor: pointer;
      &:hover {
        transition: all 0.3s;
        opacity: 1;
      }
    }
  }
}

@keyframes openMenu {
  from {
    right: 0;
    opacity: 0;
  }
  to {
    opacity: 0.7;
    right: 7%;
  }
}
